Following is the information about the columns (names can vary):

• Serial Id of movie

• Release date of movie

• Release time of movie like Long Weekend (3), Festive Season (1), Holiday Season (2), and Normal (4)

• Genre of movie like Romance, Thriller, Action, comedy etc.

• Budget of movie in crores

• Box office collection of movie in crore

• YouTube views of movies trailers

• YouTube likes for the movie trailers

• YouTube dislikes for the movie trailers

## Importing Relevant Libraries

In [1]:
import pandas as pd

## Reading the Data

In [2]:
df1 = pd.read_csv("Downloads\\Bollywood.csv",index_col=0)
df2 = pd.read_csv("Downloads\\Bollywood2.csv",index_col=0)

In [3]:
df1.head()

,RelDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes,YoutubeLikeDislikes
No,,,,,,,,,,
1,Apr-18-2014,2 States,3,RomanceGenre,36Cr,104,8576361,26622.0,2527.0,29149
2,Jan-4-2013,Table No. 21,4,Thriller,Cr10,12,1087320,1129.0,137.0,1266
3,Jul-18-2014,Amit Sahni Ki List,4,ComedyGenre,10Cr,4,572336,586.0,54.0,640
4,Jan-4-2013,Rajdhani Express,4,DramaGenre,7Cr,383,42626,86.0,19.0,105
5,Jul-4-2014,Bobby Jasoos,44,ComedyGenre,18Cr,10.8,3113427,4512.0,1224.0,5736

In [4]:
df2.head()

,Release_Date,Movie_Name,Release_Time,Genre,BudgetCr,BoxOfficeCollectionCr,Youtube_Views,Youtube_Likes,Youtube_Dislikes
Movie_ID,,,,,,,,,
51,4-Jul-14,Lekar Hum Deewana Dil,N,Romance,16,2.50,3998331,2307,497
52,22-Mar-13,Aatma,N,Thriller,8,8.78,841891,997,306
53,4-Apr-14,Main Tera Hero,LW,Comedy,40,55.00,4903941,12657,2139
54,22-Mar-13,Sona Spa,N,Thriller,10,0.24,79430,61,112
55,29-Mar-13,Himmatwala,N,Action,50,100.00,2501277,1,1

In [5]:
df1.describe()

,ReleaseTime,YoutubeViews,YoutubeLikes,YoutubeDislikes,YoutubeLikeDislikes
count,51.000000,5.100000e+01,50.000000,48.000000,51.000000
mean,4.137255,3.504813e+06,8779.680000,1326.104167,9872.921569
std,5.779341,3.547764e+06,15449.317168,2133.718842,17190.943468
min,1.000000,4.354000e+03,1.000000,1.000000,2.000000
25%,2.500000,1.059242e+06,1558.500000,170.750000,1683.500000
50%,4.000000,2.375050e+06,3817.000000,562.000000,3773.000000
75%,4.000000,5.008115e+06,12063.250000,1657.250000,12991.500000
max,44.000000,1.898622e+07,101275.000000,10269.000000,111341.000000

#### By above description we found in row '5' and column  'ReleaseTime'  the values is 44 which is mis-recorded. Replacing it with 4

In [6]:
df1.loc[5,"ReleaseTime"] = 4

#### In df1 one column is more than df2, so we are droping it as it doesnt contain meaningfull information for analysis

In [7]:
df1 = df1.drop("YoutubeLikeDislikes",axis = 1)

#### As we can see the Release time in df1 & df2 are diffrent so we converting it to one type Long Weekend (3), Festive Season (1), Holiday Season (2), and Normal (4)

In [8]:
df1["ReleaseTime"] = df1["ReleaseTime"].map({1:"FS",2:"HS",3:"LW",4:"N"})

#### Since the column names of both dataframes are diffrent we can't concatinate properly. So Renaming  the column names.

In [9]:
df1.axes

[Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
             35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
             51],
            dtype='int64', name='No'),
 Index(['RelDate', 'MovieName', 'ReleaseTime', 'Genre', 'Budget',
        'BoxOfficeCollection', 'YoutubeViews', 'YoutubeLikes',
        'YoutubeDislikes'],
       dtype='object')]

In [10]:
df2.columns = ['ReleaseDate', 'MovieName', 'ReleaseTime', 'Genre', 'Budget',
        'BoxOfficeCollection', 'YoutubeViews', 'YoutubeLikes',
        'YoutubeDislikes']

In [11]:
df1.columns = ['ReleaseDate', 'MovieName', 'ReleaseTime', 'Genre', 'Budget',
        'BoxOfficeCollection', 'YoutubeViews', 'YoutubeLikes',
        'YoutubeDislikes']

## 1. Identify and rectify the eight prominent data quality issues present in the given datasets.

In [12]:
df =  pd.concat([df1,df2])

In [13]:
df.head()

,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,YoutubeLikes,YoutubeDislikes
1,Apr-18-2014,2 States,LW,RomanceGenre,36Cr,104,8576361,26622.0,2527.0
2,Jan-4-2013,Table No. 21,N,Thriller,Cr10,12,1087320,1129.0,137.0
3,Jul-18-2014,Amit Sahni Ki List,N,ComedyGenre,10Cr,4,572336,586.0,54.0
4,Jan-4-2013,Rajdhani Express,N,DramaGenre,7Cr,383,42626,86.0,19.0
5,Jul-4-2014,Bobby Jasoos,N,ComedyGenre,18Cr,10.8,3113427,4512.0,1224.0

#### Re-naming the values of ReleaseTime

In [14]:
df["ReleaseTime"] = df["ReleaseTime"].map({"FS":"Festive Season","HS":"Holiday Season","LW":"Long Weekend","N":"Normal"})

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 149
Data columns (total 9 columns):
ReleaseDate            150 non-null object
MovieName              150 non-null object
ReleaseTime            150 non-null object
Genre                  150 non-null object
Budget                 150 non-null object
BoxOfficeCollection    150 non-null object
YoutubeViews           150 non-null int64
YoutubeLikes           149 non-null float64
YoutubeDislikes        147 non-null float64
dtypes: float64(2), int64(1), object(6)
memory usage: 11.7+ KB

#### There are null values present in  YoutubeLikes And Dislikes but they are no use as per our problem statements, So we are removing it.

In [16]:
df.drop(["YoutubeLikes","YoutubeDislikes"],axis = 1, inplace = True)
df.head()

,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
1,Apr-18-2014,2 States,Long Weekend,RomanceGenre,36Cr,104,8576361
2,Jan-4-2013,Table No. 21,Normal,Thriller,Cr10,12,1087320
3,Jul-18-2014,Amit Sahni Ki List,Normal,ComedyGenre,10Cr,4,572336
4,Jan-4-2013,Rajdhani Express,Normal,DramaGenre,7Cr,383,42626
5,Jul-4-2014,Bobby Jasoos,Normal,ComedyGenre,18Cr,10.8,3113427

In [17]:
df.reset_index(inplace=True)

#### While converting date object to  pandas Timestamp  object we encountered error of unknown string format. Rectified the mis-spelled values

I have kept the error lines and commented them just to show how i traced the misspelled values, u may keep them or u can remove as per your convienience

In [18]:
#df['ReleaseDate']=pd.to_datetime(df['ReleaseDate'])

In [19]:
df[df['ReleaseDate'].isin(['Sqp-19-2014'])]

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
6,7,Sqp-19-2014,Daawat-E-Ishq,Normal,ComedyGenre,30Cr,24.6,3905050

In [20]:
df.ix[6,'ReleaseDate'] = "Sep-19-2014"

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [21]:
#df['ReleaseDate']=pd.to_datetime(df['ReleaseDate'])

In [22]:
df[df['ReleaseDate'].isin(['Jum-27-2014'])]

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
12,13,Jum-27-2014,Ek Villain,Holiday Season,RomanceGenre,35Cr,105.5,4518748

In [23]:
df.ix[12,'ReleaseDate'] = "Jun-27-2014"

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [24]:
#df['ReleaseDate']=pd.to_datetime(df['ReleaseDate'])

In [25]:
df[df['ReleaseDate'].isin(['juu-6-2014'])]

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
17,18,juu-6-2014,Filmistaan,Holiday Season,ComedyGenre,10Cr,6,989096

In [26]:
df.ix[17,'ReleaseDate'] = 'jun-6-2014'

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [27]:
#df['ReleaseDate']=pd.to_datetime(df['ReleaseDate'])

In [28]:
df[df['ReleaseDate'].isin(['Feb-21-204'])]

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
34,35,Feb-21-204,Highway,Normal,Drama,30Cr,27.25,3043012

In [29]:
df.ix[34,'ReleaseDate'] = "Feb-21-2014"

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [30]:
df['ReleaseDate']=pd.to_datetime(df['ReleaseDate'])

In [31]:
df["ReleaseTime"] = df["ReleaseTime"].astype("category")

In [32]:
df["Genre"] = df["Genre"].astype("category")

#### The 'BoxOfficeCollection' and 'Budget' contain the integer with string value which is an obstacle for calcualtion so seperating them throgh regular expression

In [33]:
import re

In [34]:
def preprocess(x):
    x = re.sub(r"[a-zA-Z]+"," ",str(x))
    return x
df["Budget"] = df["Budget"].apply(preprocess)

In [35]:
df["BoxOfficeCollection"] = df["BoxOfficeCollection"].apply(preprocess)

In [36]:
df[["Budget","BoxOfficeCollection"]] = df[["Budget","BoxOfficeCollection"]].astype("float")

## 2) How many records are present in the dataset? Print the metadata information of dataset.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 8 columns):
index                  150 non-null int64
ReleaseDate            150 non-null datetime64[ns]
MovieName              150 non-null object
ReleaseTime            150 non-null category
Genre                  150 non-null category
Budget                 150 non-null float64
BoxOfficeCollection    150 non-null float64
YoutubeViews           150 non-null int64
dtypes: category(2), datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 8.0+ KB

In [38]:
df.shape

(150, 8)

## 3. How many movies in each genre got released in different release times?

In [39]:
df.head()

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
0,1,2014-04-18,2 States,Long Weekend,RomanceGenre,36.0,104.0,8576361
1,2,2013-01-04,Table No. 21,Normal,Thriller,10.0,12.0,1087320
2,3,2014-07-18,Amit Sahni Ki List,Normal,ComedyGenre,10.0,4.0,572336
3,4,2013-01-04,Rajdhani Express,Normal,DramaGenre,7.0,383.0,42626
4,5,2014-07-04,Bobby Jasoos,Normal,ComedyGenre,18.0,10.8,3113427

In [40]:
movie_genre = df.groupby(["Genre","ReleaseTime"])

In [41]:
movie_genre.size()

Genre         ReleaseTime
 Drama        Festive Season     2
              Holiday Season     3
              Normal            19
 DramaGenre   Festive Season     2
              Holiday Season     3
              Long Weekend       1
              Normal             5
Action        Festive Season     3
              Holiday Season     1
              Long Weekend       3
              Normal             7
Action        Normal             1
ActionGenre   Holiday Season     2
              Normal             7
Comedy        Festive Season     3
              Holiday Season     2
              Long Weekend       4
              Normal            15
ComedyGenre   Holiday Season     3
              Long Weekend       1
              Normal             8
Romance       Festive Season     3
              Holiday Season     1
              Long Weekend       3
              Normal            10
RomanceGenre  Holiday Season     2
              Long Weekend       1
              Normal             6
Thriller      Festive Season     4
              Holiday Season     1
              Long Weekend       1
              Normal            20
Thriller      Long Weekend       1
              Normal             2
dtype: int64

The above series shows the number of movies released in each Genre at diffrent ReleaseTime.

## 4. Which month of the year, maximum movie releases are seen?

In [42]:
df.head()

,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews
0,1,2014-04-18,2 States,Long Weekend,RomanceGenre,36.0,104.0,8576361
1,2,2013-01-04,Table No. 21,Normal,Thriller,10.0,12.0,1087320
2,3,2014-07-18,Amit Sahni Ki List,Normal,ComedyGenre,10.0,4.0,572336
3,4,2013-01-04,Rajdhani Express,Normal,DramaGenre,7.0,383.0,42626
4,5,2014-07-04,Bobby Jasoos,Normal,ComedyGenre,18.0,10.8,3113427

In [43]:
df['ReleaseDate'].groupby([df["ReleaseDate"].dt.year, df["ReleaseDate"].dt.month]).agg('count').sort_values(ascending = False)

ReleaseDate  ReleaseDate
2014         5              12
2013         7               9
             1               8
             3               8
2014         7               8
             3               8
             1               7
             4               6
2013         2               6
             5               6
             10              6
2014         2               6
             6               5
2013         11              5
2014         9               5
2013         9               5
             6               5
2014         11              5
2013         4               5
2015         1               5
             2               4
2014         8               4
2013         8               4
2014         10              3
2015         3               3
2014         12              2
Name: ReleaseDate, dtype: int64

As shown above, In the year 2014-May maximum number of movies released i.e  12 movies

## 5. Which month of the year typically sees most releases of high budgeted movies, that is, movies with budget of 25 crore or more?

In [44]:
highbudgetmovies = df[df["Budget"] >= 25]

In [45]:
highbudgetmovies['ReleaseDate'].groupby([highbudgetmovies["ReleaseDate"].dt.year, highbudgetmovies["ReleaseDate"].dt.month]).agg('count').sort_values(ascending = False)

ReleaseDate  ReleaseDate
2013         7              5
2014         3              4
2013         9              4
2014         4              4
2013         8              4
2014         2              4
2015         1              3
2013         2              3
2014         11             3
             8              3
             6              3
             1              3
2013         11             3
             3              2
             5              2
             6              2
             1              2
             10             2
2015         2              2
2014         10             2
             12             2
             5              1
             7              1
             9              1
2015         3              1
Name: ReleaseDate, dtype: int64

As shown above, In the year 2013-July maximum number of movies i.e 5 movies released who's budget is 25Cr or more.

## 6. Which are the top 10 movies with maximum return of investment (ROI)? Calculate ROI as (Box office collection – Budget) / Budget.

In [46]:
df["ROI"] = (df["BoxOfficeCollection"] - df["Budget"]) / df["Budget"]

In [47]:
Return_of_investment = df.sort_values(["ROI"],ascending = False)

In [48]:
Return_of_investment.reset_index(inplace=True)

In [49]:
R_O_I = Return_of_investment.iloc[:10]
R_O_I

,level_0,index,ReleaseDate,MovieName,ReleaseTime,Genre,Budget,BoxOfficeCollection,YoutubeViews,ROI
0,3,4,2013-01-04,Rajdhani Express,Normal,DramaGenre,7.0,383.0,42626,53.714286
1,65,65,2013-04-26,Aashiqui 2,Normal,Romance,12.0,110.0,2926673,8.166667
2,90,90,2014-12-19,PK,Holiday Season,Drama,85.0,735.0,13270623,7.647059
3,133,133,2013-09-13,Grand Masti,Long Weekend,Comedy,35.0,298.0,1795640,7.514286
4,136,136,2013-09-20,The Lunchbox,Normal,Drama,10.0,85.0,1064854,7.500000
5,88,88,2013-06-14,Fukrey,Normal,Comedy,5.0,36.2,227912,6.240000
6,59,59,2014-09-05,Mary Kom,Normal,Drama,15.0,104.0,6086811,5.933333
7,129,129,2013-10-18,Shahid,Festive Season,Drama,6.0,40.0,1148516,5.666667
8,37,38,2014-07-11,Humpty Sharma Ki Dulhania,Normal,RomanceGenre,20.0,130.0,6604595,5.500000
9,102,102,2013-07-12,Bhaag Milkha Bhaag,Normal,Drama,30.0,164.0,2635390,4.466667

The above dataframe shows the top 10 movoies with the highest return of investment

In [50]:
R_O_I.MovieName

0             Rajdhani Express
1                   Aashiqui 2
2                           PK
3                  Grand Masti
4                 The Lunchbox
5                       Fukrey
6                     Mary Kom
7                       Shahid
8    Humpty Sharma Ki Dulhania
9           Bhaag Milkha Bhaag
Name: MovieName, dtype: object